.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
	padding: 2px;
	vertical-align: middle;
}

.estDec {
	background-color: #ff8686;
}

.estAgr {
	background-color: #acffac;
}

.estMod {
	background-color: #ffff8e;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0;
	/* <-- Apparently some margin are still there even though it's hidden */
}

.table {
	margin-bottom: 0;
	margin-left: auto;
    margin-right: auto;
}
.chapter-create-col{
	width:50%;
}

.chapter-header {
	border: 1px solid #d4d4d4;
	background-color: #FDEADA;
	font-style: oblique;
	font-weight: bold;
	line-height: 20px;
}

td.hdr {
	background-color: #D9D9D9;
	text-align: center;
}

td.type {
	width: 7%;
}

.amount input[type="text"] {
	width: 85px;
}

.description {
	width: 55%;
}

.address {
	width: 25%;
}

.amount {
	width: 8%;
}

.price {
	width: 7%;
}

.unit {
	width: 10%;
	font-size: 14px;
}

.minimum {
	width: 7% !important;
}

.total {
	width: 7%;
}

.but {
	width: 4%;
}

td {
	border: 1px solid #d4d4d4;
	background-color: #F8F8F8;
}

th {
	text-align: center;
}

.red-line {
	height: 6px;
	background-color: #9B3A38
}