<div data-ng-include="vm.navBar">
</div>
<div class="container">
    <center>
        <h1>Item creater</h1>
    </center>

    <div class="col-lg-4">
        <select class="form-control" ng-options="chapter.name as chapter.name for chapter in vm.chapters" ng-model="vm.chapter.name"></select>
    </div>
    <div class="col-lg-2 ">
        <button class="btn btn-primary" data-ng-click="vm.createChapter(vm.chapter)">Create</button>
    </div>
    <div class="col-lg-2 ">
        <button class="btn btn-primary" data-ng-click="vm.save(vm.chaps)">Save</button>
    </div>
    <hr class="col-sm-12">

    <div data-ng-repeat="chap in vm.chaps" style="padding:1px;">
        <br>
        <table>
            <tr>
                <th>
                    <h5>{{chap.chapterName}}</h5>
                </th>
            </tr>
            <tr>
                <td>
                    <div class="row">

                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control" data-ng-model="chap.workDescription" placeholder="Work description">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <input type="text" class="form-control" data-ng-model="chap.price" placeholder="Price">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <select class="form-control" ng-options="unit.name as unit.name for unit in vm.units" ng-model="chap.unitName"></select>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <input type="text" class="form-control" data-ng-model="chap.minimumCharge" placeholder="Minimum charge">
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group col-lg-2 ">
                        <button class="btn btn-primary" data-ng-click="vm.add(chapter)">Add</button>
                    </div>
                </td>
                <td>
                    <div class="form-group col-lg-2 ">
                        <button class="btn btn-danger" ng-click="vm.removeFromItem($index)">
								<i class="glyphicon glyphicon-trash"></i>
							</button>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>