<div data-ng-include="vm.navBar"></div>
<div class="container">
    <center>
        <h1>Active estimates</h1>
    </center>
    <hr class="col-lg-12">
    <table class="table">
        <tr>
            <td class="hdr type"><em><strong>TYPE</strong></em></td>
            <td class="hdr"><em><strong>DATE</strong></em></td>
            <td class="hdr address"><em><strong>ADDRESS</strong></em></td>
            <td class="hdr"><em><strong>CUSTOMER NAME</strong></em></td>
            <td class="hdr"><em><strong>PHONE</strong></em></td>
            <td class="hdr"><em><strong>EMAIL</strong></em></td>
            <td class="hdr"><em><strong>STATUS</strong></em></td>
            <td class="hdr"><em><strong>EDIT</strong></em></td>
            <td class="hdr"><em><strong>SEND</strong></em></td>
            <td class="hdr"><em><strong>DEL</strong></em></td>
        </tr>
        <tr>
            <td colspan="10" style="height: 6px; background-color: #9B3A38"></td>
        </tr>
        <tr data-ng-repeat="estimate in vm.estimates | orderBy:'-date'" uib-popover="Grand Total: ${{estimate.customerGrandTotal}}" popover-trigger="'mouseenter'">
            <td><strong>{{estimate.typeEstimate}}</strong></td>
            <td><strong>{{estimate.date}}</strong></td>
            <td>{{estimate.address}}</td>
            <td>{{estimate.name}} {{estimate.lastName}}</td>
            <td>{{estimate.phoneNumber}}</td>
            <td>{{estimate.email}}</td>
            <td align="center" ng-class="{'estDec': estimate.status=='ED', 'estAgr': estimate.status=='EA','estMod': estimate.status=='ECM'}"><strong>{{estimate.status}}</strong></td>
            <td style="text-align: center">
                <a class="btn btn-sm btn-warning" ui-sref="editEstimate({id: estimate.id})"> <i class="fa fa-edit"></i> </a>
            </td>
            <td style="text-align: center">
                <a class="btn btn-sm btn-primary" ng-click="vm.sendEstimate(estimate.id)"> <i class="fa fa-envelope"></i> </a>
            </td>
            <td style="text-align: center">
                <a class="btn btn-sm btn-danger" ng-click="vm.remove(estimate)"> <i class="fa fa-trash"></i> </a>
            </td>
        </tr>
    </table>
</div>